html, body {
  padding:0;
    margin:0;
    background:black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}
a {
  color:white;
}
.videoWrapper1 {
  width: 45%;
  padding-left: 7.5%;
  padding-top: 10%;
  display: inline-block;
}
iframe {
    width:100%;
    height:500px;
}
fieldset, legend {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
#namecard{
  width: 30%;
  display: inline-block;
  top: 42%;
  position: absolute;
  padding-left: 5%;
  font-size: 2vw;
}
