
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,800');
/*Copy Right Clarice Hilton 2018 */
html, body{
height: 100%;
font-family: 'Nunito Sans', sans-serif;
	}
div {

}
.header {
	margin: 5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    overflow: hidden;
    margin: 1em 0;
    align-items: center;
		font-weight: 200;
}
#title {
	/*display: inline-block;
	text-align: center;
	float: left;*/
	padding: 3.5%;
	flex: 1;
}
#menu {
		/*display: inline-block;
		right: 0;
		float: right;*/
		padding: 3.5%;
}
.menu_item {
	color: black;
	padding-left: 3vw;
	text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
.flexgrid {
	display: flex;
	justify-content: space-around;
}
.col {
	flex: 1;
	position: relative;
}
.left {
	padding-left: 3%;
	padding-right: 1.5%;
}
.right {
	padding-left: 1.5%;
	padding-right: 3%;
}
img {
	width: 100%;
}
#container:hover ~ #cube { background-color: yellow; }
~
.col.left:hover img{
	filter: grayscale(100%);
}
.col + img :hover {
	filter: grayscale(100%);
}
img:hover {
 filter: grayscale(100%);
}


/*https://jsfiddle.net/govdqd8y/*/

.col:hover .img__description {
  display: inline-block;
	/*filter: grayscale(100%);*/
  opacity: 1;

}

.img__description {
	display: none;
  transition: opacity .2s, visibility .2s;
  /*transform: translateY(1em);*/
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
		color: #e2b5c1;
		font-weight:800;
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}
/*film*/
.fullCol {
	padding: 3%;
}

/*.background_image{
  background-size: cover!important;
  width: 100%;
  height: 0;
  padding-top: 66.64%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.one {
  font-family: avenir;
}
#topPic {
    width: 100%;
    height: auto;
    background: url("../images/still.jpg") no-repeat center center fixed;
	}
.middle {
		  position: absolute;
		  padding-left: 2%;
		  width: 100%;
		  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
		  font-weight: lighter;
		  color: white;
		}
*/
